/blocklyarduinoupdater/BlocklyArduinoUpdater/nbproject/private/
/BlocklyArduinoUpdater/build/
/BlocklyArduinoUpdater/dist/
/BlocklyArduinoUpdater/Update/build/
/BlocklyArduinoUpdater/Update/nbproject/private/
/BlocklyArduinoUpdater/Update/dist/
/BlocklyArduinoUpdater/UpdateApp/build/
/BlocklyArduinoUpdater/UpdateApp/dist/
Thumbs.db
/Blockly@rduinoPlugin/build/
/Blockly@rduinoPlugin/dist/
/Blockly@rduinoPlugin/src/blocklyarduinoplugin/target/
/nbproject/private/
/Blockly@rduinoPlugin/src/target/